/* About us Page template */

/* Sidebar */

.aboutus-page {
	.sidebar {
		margin-top: 40px;
		h3 {
			color: #ffffff;
		    padding: 5px 14px;
		    font-size: 18px;
		    text-transform: uppercase;
		    background: #000;
		    font-weight: 700;
		    margin-bottom: 25px;
		}

		form{
			margin: 20px;
		}

		input, textarea{
			display: inline-block;
		    margin-bottom: 10px;
		    padding: 10px 20px;
		    max-width: 100%;
		    width: 100%;
		    border: 1px solid #ddd;
		    box-shadow: none;
		    color: #888;
		    vertical-align: top;
		    background: #fff;
		}
	}

	.main-content{
		h2{
			font-size: 24px;
			letter-spacing: -0.02em;
		    line-height: 1.5;
		    color: #333333;
		    margin-bottom: .5rem;
		}

		p{
			font-size: 16px;
		    font-weight: 400;
		    font-style: bold;
		    letter-spacing: 0em;
		    line-height: 1.6;
		    color: #858585;

		    a, a:visited{
		    	color: #333333;
		    }
		}

		hr{
			background-color: #cccccc;
		    border: none;
		    display: block;
		    height: 1px;
		    width: 100%;
		    margin: 0;
		}

		.pdf-container{
			padding: 20px 15px;

			.pdf_title{
			    font-size: 16px;
			    line-height: 1.6;
			    font-weight: 600;
			    color: #858585;
			}

			.pdf_button{
				margin-top: 25px;
				display: flex;
			    align-items: center;
			    justify-content: center;

				a{
					color: #f2f2f2;
    				background-color: #006da3;
    				font-size: 14px;
    				padding: 14px 20px;
				}
			}
		}
	}
}